body {
    margin: 0;
    height: 100vh;
}

#content-full {
    height: 100%;
    display: flex;
    flex-flow: column;
}

#carousel {
    flex: 1 1 auto;
    max-height: calc(100vh - 50px);
}

#carousel-inner1 {
    height: 100%;
}

#carousel-item1 {
    margin: 0;
    height: 100%;
}

#content {
    display: flex;
    flex-flow: column;
    height: 100%;
    z-index: 10;
}

#blockly-container {
    flex: 1 1 auto;
    width: 100%;
}

#blockly-div {
    position: absolute;
}

#menu-right {
    margin-left: auto;
    display: flex;
    flex-flow: row;
}

#webcam-carousel-video {
    display: flex;
    flex-flow: column;
}

#webcam-ui-button {
    width: 100%;
    flex: 0 0 auto;
}

#builton_img {
    width: auto;
    height: auto;
    position: absolute;
    max-height: 10vh;
    max-width: 10vh;
    right: 1%;
    bottom: 1%;
}

#build-content {
    /*flex: 1 1 auto;*/
    /*display: flex;*/
    /*flex-direction: row;*/
    /*max-height: 100%;*/
    /*bottom: 1%;*/
    /*top: 1%;*/
    min-width: 100%;
}

#build-carousel {
    display: flex;
    height: 100%;
    max-height: 100%;
}

#enable-cam-predict {
    flex: 0 0 0;
}

#status {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    min-height: 100%;
    min-width: 100%;
    max-height: 100%;
    background-color: black;
    color: limegreen;
    font-family: "Lucida Console", "Courier New", monospace;
}

#close-button {
    margin-left: auto;
}

#predict-body {
    display: flex;
    flex-direction: column;
}

#upload-list {
    max-height: 140px;
    overflow-y: auto;
    position: fixed;
    z-index: 5000;
}

.modal-footer {
    overflow-y: visible;
}

/*#image-webcam-container {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/

.accordion-header {
    display: flex;
    flex-flow: row;
}

.accordion-class-delete {
    max-height: 20px;
}

.build-card {
    flex: 1 1 50%;
    max-height: 100%;
}

.webcam {
    width: 100%;
    margin-bottom: 10px;
}

.menu-button {
    margin: 10px;
    font-size: larger;
    display: flex;
}

.menu {
    height: 50px;
    width: 100%;
    background-color: #dfdfdf;
    /*flex: 0 1 auto;*/
    display: flex;
    flex-flow: row;
    align-items: center;
}

.image-list {
    align-items: start;
    list-style-type: none;
}

.image-cont {
    max-height: 100px;
    max-width: 100px;
    object-fit: contain;
}

.image-item  {
    float: left;
    max-height: 100px;
    max-width: 100px;
    margin: 5px;
}

.accordion-collapse {
    min-height: 120px;
}

.accordion-item {
    display: flex;
    flex-direction: column;
}

.accordion-image-body {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

.image-div {
    max-height: 100px;
    max-width: 100px;
    display: flex;
}

.delete-button {
    max-width: 20px;
    max-height: 20px;
    margin: 0;
    position: absolute;
    object-fit: cover;
    padding: 0;
}

.image-delete {
    height: 100%;
    width: 100%;
    margin: 0;
    object-fit: cover;
    padding: 0;
}

.webcam-ui-button {
    flex: 1 1 auto;
}