body {
    margin: 0;
    height: 100vh;
}

#content {
    display: flex;
    flex-flow: column;
    height: 100vh;
    z-index: 10;
}

#content1 {

}

#menu {
    height: 50px;
    width: 100%;
    background-color: #dfdfdf;
    flex: 0 1 auto;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

#blockly-container {
    flex: 1 1 auto;
    width: 100%;
}

#blockly-div {
    position: absolute;
}

#run {
    margin-left: auto;
}

#image-popup {
    display: flex;
    height: 80%;
    width: 80%;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-color: aqua;
    border-width: 5px;
    border-style: solid;
    position: absolute;
    z-index: 1000;
    pointer-events: none;
    visibility: hidden;
}

#builton_img {
    width: auto;
    height: auto;
    position: absolute;
    max-height: 10vh;
    max-width: 10vh;
    right: 1%;
    bottom: 1%;
}

.menu-button {
    margin: 10px;
    font-size: larger;
    display: flex;
}
