body {
    margin: 0;
    height: 100vh;
}

#content-full {
    height: 100%;
    display: flex;
    flex-flow: column;
}

#carousel {
    flex: 1 1 auto;
}

#carousel-inner1 {
    height: 100%;
}

#carousel-item1 {
    margin: 0;
    height: 100%;
}

#content {
    display: flex;
    flex-flow: column;
    height: 100%;
    z-index: 10;
}


#blockly-container {
    flex: 1 1 auto;
    width: 100%;
}

#blockly-div {
    position: absolute;
}

#run {
    margin-left: auto;
}

#builton_img {
    width: auto;
    height: auto;
    position: absolute;
    max-height: 10vh;
    max-width: 10vh;
    right: 1%;
    bottom: 1%;
}

#build-content {
    flex: 1 1 auto;
    height: 100%;
    bottom: 1%;
    top: 1%;
}

#close-button {
    margin-left: auto;
}

.menu-button {
    margin: 10px;
    font-size: larger;
    display: flex;
}

.menu {
    height: 50px;
    width: 100%;
    background-color: #dfdfdf;
    /*flex: 0 1 auto;*/
    display: flex;
    flex-flow: row;
    align-items: center;
}

.image-div {
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #ffffff;
    flex: 0 1 auto;
    display: flex;
    flex-flow: row;
    align-items: center;
}

.image {
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    align-items: center;
}

.delete-button {
    height: 75px;
    width: 75px;
    position: absolute;
    top: 1%;
    right: 1%;
    visibility: hidden;
}